################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/主程序/v15/.suo
*.db
*.idb
*.log
*.pdb
*.ilk
Debug/
.vs/
主程序/x64/
主程序/Debug/